.controls{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 12px;
    background-color: #f9f9f9;
    min-width: 220px;
}

.control{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.checkbox {
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.preview {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 12px;
    min-width: 250px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
