.app-container {
    max-width: 650px;
    margin: 40px auto;
    padding: 20px;
    background: #fcfdff;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
}
  
.app-title {
    text-align: center;
    margin-bottom: 20px;
}
  

.todo-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
  
.todo-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}
  
.todo-btn {
    padding: 10px 15px;
    cursor: pointer;
    background: #4caf50;
    border: none;
    border-radius: 4px;
    color: white;
}
  
.empty-list {
    text-align: center;
    opacity: 0.6;
}
  
.todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background: white;
    border-radius: 6px;
    border: 1px solid #d8d8d8;
}
  
.completed {
    text-decoration: line-through;
    opacity: 0.6;
}
  
.todo-text {
    flex: 1;
    margin-right: 15px;
}

.todo-controls {
    display: flex;
    gap: 8px;
}
  
.todo-small-btn {
    padding: 6px 10px;
    cursor: pointer;
    background: #1c7bda;
    border: none;
    color: white;
    border-radius: 4px;
}
  
.todo-delete-btn {
    padding: 6px 10px;
    cursor: pointer;
    background: #db3634;
    border: none;
    color: white;
    border-radius: 4px;
}